<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="myApp.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\kerem\Desktop\tvapp.accdb"
            providerName="System.Data.OleDb" />
        <add name="myApp.Properties.Settings.tvappConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\\Users\\kerem\\Documents\\tvapp.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>